
<html>
        <head>
        <style>
        .grid-container {
          display: grid;
          grid: 150px / auto auto auto;
          grid-gap: 10px;
          background-color: rgb(25, 107, 179);
          padding: 10px;
        }
        .grid-container>div {
          background-color: lightgrey;
          text-align: center;
          padding:20px 0;
          font-size: 30px;
        }
        </style>
        </head>
        <body>
        
        <h1>POKEDEX</h1>
        <img src="{{pokemon.art_url}}">
        <div *ngIf=pokemon class="grid-container">
          <div class="item1">ID: {{pokemon.pkdx_id}}</div>
          <div class="item2">Name: {{pokemon.name}}</div>
          <div class="item3"> National ID: {{pokemon.national_id}}</div>  
          <div class="item4">Type: {{pokemon.types}}</div>
          <div class="item5">{{pokemon.description}}</div>
          <div class="item6">Evolution: {{pokemon.evolutions}}</div>
        </div>
        
        </body>
        </html>
